<% layout('layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center">Edit Design</h1>
        <div class="col-md-6 offset-md-3 mb-5">
            <form action="/projects/<%= project._id %>/rooms/<%= room._id %>/designs/<%= design._id %>?_method=PUT"
                method="POST" class="mb-3 validated-form" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="name">Design Name</label>
                    <textarea class="form-control" name="design[name]" id="name" cols="30" rows="1" value="test"
                        required><%= design.name %></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="notes">Designer Notes</label>
                    <textarea class="form-control" name="design[notes]" id="name" cols="30"
                        rows="4"><%= design.notes %></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <button class="btn tan-btn">Update Design</button>
            </form>
            <a href="/projects/<%= project._id%>/rooms/<%=room._id%>/designs">Back To Designs</a>
        </div>
    </div>