<% layout('layouts/boilerplate')%>
  <div class="row">
    <h1 class="text-center">Edit Room</h1>
    <div class="col-md-6 offset-md-3 mb-5">
      <form action="/projects/<%= project._id %>/rooms/<%= room._id %>?_method=PUT" method="POST" novalidate
        class="validated-form">
        <div class="mb-3">
          <label class="form-label" for="title">Room Name</label>
          <input class="form-control" name="room[title]" id="title" cols="30" rows="1" required
            value="<%= room.title %>"></input>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="render">3D Render Link</label>
          <textarea class="form-control" name="room[render]" id="render" cols="30"
            rows="1"><%= room.render %></textarea>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="mb-3">
          <button class="btn tan-btn">Update Room</button>
        </div>
      </form>
      <a href="/projects/<%= project._id%>">Back To Project</a>

    </div>
  </div>