<% layout('layouts/boilerplate')%>
  <div class="row">
    <h1 class="text-center">Edit Category</h1>
    <div class="col-md-6 offset-md-3 mb-5">
      <form
        action="/projects/<%= project._id %>/rooms/<%= room._id %>/item-categories/<%= itemCategory._id %>?_method=PUT"
        method="POST" novalidate class="validated-form">
        <div class="mb-3">
          <label class="form-label" for="name">Item Category Name</label>
          <input class="form-control" name="itemCategory[name]" value="<%= itemCategory.name %>" id="name" cols="30"
            rows="1" required></input>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="mb-3">
          <button class="btn tan-btn">Update Category</button>
        </div>
      </form>
      <a href="/projects/<%= project._id%>/rooms/<%= room._id %>">Back To Room</a>

    </div>
  </div>