<% layout('layouts/boilerplate')%>
  <div class="row">
    <h1 class="text-center">Edit Project</h1>
    <div class="col-md-6 offset-md-3 mb-5">
      <form action="/projects/<%=project._id%>?_method=PUT" method="POST" novalidate class="validated-form">
        <div class="mb-3">
          <label class="form-label" for="title">Title</label>
          <input class="form-control" type="text" id="title" name="project[title]" value="<%=project.title %>" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="price">Project Budget</label>
          <div class="input-group">
            <span class="input-group-text" id="price-label">£</span>
            <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
              aria-describedby="price-label" name="project[price]" value="<%=project.price %>" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="description">Description</label>
          <textarea class="form-control" type="text" id="description" name="project[description]"
            required><%= project.description%></textarea>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="mb-3">
          <button class="btn tan-btn">Update Project</button>
        </div>
      </form>
      <a href="/projects/<%= project._id%>">Back To Project</a>

    </div>
  </div>